.primary-nav-bar, .top-nav-bar {

    z-index: 10;

}

.primary-nav-bar {

    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    border-radius: 0;
    border: 0;

}

.top-nav-bar {
    height: 54px;
    border-radius: 0;
    background: #fff;
    padding-left: 0;
    padding-right: 30px;
    margin: 0;
    -webkit-box-shadow: 0 0 0 1px #ebeef0;
    box-shadow: 0 0 0 1px #ebeef0;
    border: 0;
}

.navbar-inverse {

    background-color: #343f4f !important;
    border-color: #202630 !important;
}
.navbar {

    border-radius: 4px;

}
.navbar {

    position: relative;
    min-height: 50px;
    margin-bottom: 18px;
    border: 1px solid transparent;

}

.top-nav-bar .navbar-collapse {
    padding: 0;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;

}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 10px;
    padding-left: 10px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;

}
.collapse {
    display: none;
}

.navbar-header {
    float: left;
}

.navbar-brand {
    padding: 10px 15px 10px 30px;
    height: 54px;
}

.navbar-brand {
    float: left;
    font-size: 17px;
    line-height: 18px;
}

.brand-header-logo {
    max-width: 350px;
    max-height: 34px;
}

.top-nav-bar .navbar-right {
    margin-right: 0;
}

.navbar-right {
    float: right;
    margin-right: -10px;
}

.navbar-nav {
    float: left;
    margin: 0;
        margin-right: 0px;
}
.navbar-nav {
    margin: 8px -10px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
ol, ul {
    margin-bottom: 9px;
}

dl, ol, ul {
    margin-top: 0;
}

img {
    vertical-align: middle;
}
hr, img {
    border: 0;
}

.brand-name {
    float: left;
}
.brand-name, .top-nav-bar .navbar-nav > li > .header-profile-icon.disabled-link .initialsAvatar, .top-nav-bar .navbar-nav > li > a.header-profile-icon .initialsAvatar {
    font-size: 18px;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
    color: #40627c !important;
}
.h2, h2 {
    font-size: 27px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.top-nav-bar .navbar-nav > li > .header-profile-icon.disabled-link, .top-nav-bar .navbar-nav > li > a.header-profile-icon {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
}

.top-nav-bar .navbar-nav > li > .disabled-link, .top-nav-bar .navbar-nav > li > a {
    padding: 15px 8px;
        padding-top: 15px;
        padding-right: 8px;
        padding-bottom: 15px;
         color: #8c99a0;
}

body {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    line-height: 1.33333;
    color: #333;

}


.ft-logo {

    height: 54px;
    text-align: center;
    color: #6e96b4;
    font-size: 28px;
    opacity: .3;
    border-bottom: 1px solid #6e96b4;
    -webkit-box-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 0 #000;

}

.icon-ft::before {

    content: "\f2a9";

}

.alert-danger .alert-icon::before, .alert-info .alert-icon::before, .alert-reset-success .alert-icon::before, .alert-success .alert-icon::before, .alert-warning .alert-icon::before, .alert.alert-reset-password .alert-icon::before, .avatar-circle .initialsAvatar.no-name::before, .breadcrumb-title::before, .calendar-icon::before, .datepicker .next::before, .datepicker .prev::before, .dropdown-menu > li a.active::before, .dropdown-menu > li.active a::before, .feedback-hire-selected i::before, .feedback-no-hire-selected i::before, .feedback-strong-hire-selected i::before, .feedback-strong-no-hire-selected i::before, .hire-radio-button .checked .feedback-hire i::before, .hire-radio-button .checked .feedback-no-hire i::before, .hire-radio-button .checked .feedback-strong-hire i::before, .hire-radio-button .checked .feedback-strong-no-hire i::before, .hire-radio-button .feedback-hire i::before, .hire-radio-button .feedback-no-hire i::before, .hire-radio-button .feedback-strong-hire i::before, .hire-radio-button .feedback-strong-no-hire i::before, .hire-radio-button.checked .feedback-hire i::before, .hire-radio-button.checked .feedback-no-hire i::before, .hire-radio-button.checked .feedback-strong-hire i::before, .hire-radio-button.checked .feedback-strong-no-hire i::before, .icon-accordion-close::before, .icon-accordion-open::before, .icon-activation::before, .icon-add-circled::before, .icon-add-emp::before, .icon-add-to-profile::before, .icon-add::before, .icon-alert-danger::before, .icon-angel-circled-solid::before, .icon-angel-circled::before, .icon-angel-circled:hover::before, .icon-arrow-left::before, .icon-arrow-right::before, .icon-at::before, .icon-attachments-vertical::before, .icon-attachments::before, .icon-automation-robot::before, .icon-avatar-loading::before, .icon-back::before, .icon-behance-circled-solid::before, .icon-behance-circled::before, .icon-behance-circled:hover::before, .icon-bell-line::before, .icon-bell::before, .icon-block::before, .icon-book-article::before, .icon-breadcrumb-arrow::before, .icon-bulb::before, .icon-calendar::before, .icon-cand-round::before, .icon-candidates::before, .icon-canned-response::before, .icon-career-portal::before, .icon-certificate::before, .icon-change-job-role::before, .icon-check::before, .icon-checkbox::before, .icon-close-small::before, .icon-close::before, .icon-comment::before, .icon-contact-thin::before, .icon-contact::before, .icon-conversation::before, .icon-cost-center::before, .icon-cover-letter::before, .icon-custom-filter::before, .icon-dashboard::before, .icon-directory::before, .icon-dislike-solid::before, .icon-dislike::before, .icon-dob::before, .icon-down-arrow::before, .icon-download-line::before, .icon-dribbble-circled-solid::before, .icon-dribbble-circled::before, .icon-dribbble-circled:hover::before, .icon-edit::before, .icon-education::before, .icon-eeo::before, .icon-ellipsis-v::before, .icon-ellipsis::before, .icon-email-circled-solid::before, .icon-email-circled::before, .icon-email-circled:hover::before, .icon-email-solid::before, .icon-email-unverified::before, .icon-email::before, .icon-emergency::before, .icon-emp-add::before, .icon-emp-delete::before, .icon-exclamation-circle::before, .icon-experience::before, .icon-export::before, .icon-eye-off::before, .icon-eye::before, .icon-facebook-circled-solid::before, .icon-facebook-circled::before, .icon-facebook-circled:hover::before, .icon-fb-page::before, .icon-feedback-multi_checkbox::before, .icon-feedback-radio::before, .icon-feedback-score::before, .icon-feedback-score_with_comment::before, .icon-feedback-text::before, .icon-focus::before, .icon-form-checkbox::before, .icon-form-datepicker::before, .icon-form-dropdown::before, .icon-form-number::before, .icon-form-phone::before, .icon-form-radio::before, .icon-form-text::before, .icon-form-textarea::before, .icon-form-web::before, .icon-forward::before, .icon-front::before, .icon-ft::before, .icon-funnel::before, .icon-github-circled-solid::before, .icon-github-circled::before, .icon-github-circled:hover::before, .icon-googleplus-circled-solid::before, .icon-googleplus-circled::before, .icon-googleplus-circled:hover::before, .icon-heart-solid::before, .icon-heart.active::before, .icon-heart::before, .icon-help-circled::before, .icon-help::before, .icon-hire-solid::before, .icon-hire::before, .icon-honours::before, .icon-img-upload::before, .icon-import::before, .icon-impoting-cand-error::before, .icon-impoting-cand-success::before, .icon-impoting-cand::before, .icon-info::before, .icon-inprogress::before, .icon-insert-placeholder::before, .icon-instructions::before, .icon-int-kit::before, .icon-int-sch::before, .icon-interests::before, .icon-intranet::before, .icon-jd-template-filled::before, .icon-jd-template::before, .icon-job-close::before, .icon-job-cut::before, .icon-job-draft::before, .icon-job-internal::before, .icon-job-on_hold::before, .icon-job-private::before, .icon-job-published::before, .icon-job-share::before, .icon-key::before, .icon-label::before, .icon-like-solid::before, .icon-like-strong-solid::before, .icon-like::before, .icon-linkedin-circled-solid::before, .icon-linkedin-circled::before, .icon-linkedin-circled:hover::before, .icon-linkedin::before, .icon-list::before, .icon-loading::before, .icon-location::before, .icon-lock-off::before, .icon-lock::before, .icon-logo::before, .icon-mask::before, .icon-medium-circled-solid::before, .icon-medium-circled::before, .icon-medium-circled:hover::before, .icon-menu::before, .icon-minimize::before, .icon-minus-circled::before, .icon-minus-circled:hover::before, .icon-minus-filled::before, .icon-mobile-solid::before, .icon-move-stage::before, .icon-move-to-job::before, .icon-move-to-stage::before, .icon-multi-job::before, .icon-my-job::before, .icon-nav-plus::before, .icon-new-cand::before, .icon-no-hire-solid::before, .icon-no-hire::before, .icon-note::before, .icon-notify-private-comment::before, .icon-offer-declines::before, .icon-offer-made::before, .icon-open-in-portal::before, .icon-parsing::before, .icon-partnership::before, .icon-pending::before, .icon-phone-solid::before, .icon-phone::before, .icon-pinterest-circled-solid::before, .icon-pinterest-circled::before, .icon-pinterest-circled:hover::before, .icon-plus-filled::before, .icon-plus-minus-filled::before, .icon-portal-circled::before, .icon-portfolio::before, .icon-pre-emp::before, .icon-producthunt-circled-solid::before, .icon-producthunt-circled::before, .icon-producthunt-circled:hover::before, .icon-profile-tag::before, .icon-profile::before, .icon-publications::before, .icon-recent-hires::before, .icon-recent-offers::before, .icon-recruit::before, .icon-refer::before, .icon-referral-circled::before, .icon-reject-solid::before, .icon-reject-strong-solid::before, .icon-reject::before, .icon-reorder::before, .icon-reply-all::before, .icon-reply::before, .icon-reports-nav::before, .icon-reports::before, .icon-restore::before, .icon-resume::before, .icon-right-arrow-fill::before, .icon-room::before, .icon-round-crossed::before, .icon-round-fill::before, .icon-round::before, .icon-save-as::before, .icon-save::before, .icon-search::before, .icon-send-activation::before, .icon-settings::before, .icon-share::before, .icon-shell::before, .icon-skills::before, .icon-skype::before, .icon-sort-asc::before, .icon-sort-desc::before, .icon-sourcing-partner::before, .icon-star-o::before, .icon-star-scattered::before, .icon-star::before, .icon-strong-hire-solid::before, .icon-strong-hire::before, .icon-strong-no-hire-solid::before, .icon-strong-no-hire::before, .icon-summary::before, .icon-sync-error::before, .icon-sync::before, .icon-tags-solid::before, .icon-tags::before, .icon-talent-pool-fill::before, .icon-talent-pool::before, .icon-task::before, .icon-team::before, .icon-tick-round-solid::before, .icon-tick-round::before, .icon-time-off::before, .icon-time-solid::before, .icon-time::before, .icon-timeline-dot::before, .icon-tour-sign::before, .icon-trash-strike-thru::before, .icon-trash::before, .icon-tumblr-circled-solid::before, .icon-tumblr-circled::before, .icon-tumblr-circled:hover::before, .icon-twitter-circled-solid::before, .icon-twitter-circled::before, .icon-twitter-circled:hover::before, .icon-uncheck::before, .icon-up-sort::before, .icon-video::before, .icon-volunteer::before, .icon-waiting-for-decision::before, .icon-web-circled::before, .icon-web::before, .icon-wordpress-circled-solid::before, .icon-wordpress-circled::before, .icon-wordpress-circled:hover::before, .icon-work-anniversary::before, .icon-write::before, .input-success::before, .input-success:focus::before, .input-success:hover::before, .lead-source-direct-circled::before, .lead-source-facebook-circled::before, .lead-source-facebook-circled:hover::before, .lead-source-fb_page_tab-circled::before, .lead-source-google_plus-circled::before, .lead-source-google_plus-circled:hover::before, .lead-source-internal-circled::before, .lead-source-linkedin-circled::before, .lead-source-linkedin-circled:hover::before, .lead-source-partnership-circled::before, .lead-source-twitter-circled::before, .lead-source-twitter-circled:hover::before, .new-job .show-templates-btn .icon-jd-template:hover::before, .not-assessed .feedback-icon-checkbox::before, .not-assessed input[type="checkbox"]:checked + .feedback-icon-checkbox::before, .open-close-icon::before, .package-form .dropdown-menu > li .remove-icon:hover .icon-minus-circled::before, .rating label.active::before, .rating label::before, .rating:not(.readonly):not(:checked) > label:hover::before, .rating:not(.readonly):not(:checked) > label:hover ~ label::before, .rating:not(.readonly) > input:checked ~ label:hover::before, .rating:not(.readonly) > input:checked ~ label:hover ~ label::before, .rating:not(.readonly) > label:hover ~ input:checked ~ label::before, .rating > input:checked ~ label::before, .star-rating label::before, .star-rating:not(.disabled) > input:checked ~ label:hover::before, .star-rating:not(.disabled) > input:checked ~ label:hover ~ label::before, .star-rating:not(.disabled) > label:hover ~ input:checked ~ label::before, .star-rating:not(:checked):not(.disabled) > label:hover::before, .star-rating:not(:checked):not(.disabled) > label:hover ~ label::before, .star-rating > input:checked ~ label::before, .sub-header .breadcrumb > li + li::before, [data-icon]::before {

    display: inline-block;
    font-family: glyphs;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

}

.ft-logo i {

    padding-bottom: 10px;

}

 ::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.ft-logo {

    text-align: center;
    color: #6e96b4;
    font-size: 28px;

}
body {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    line-height: 1.33333;
    color: #333;

}
.nav {

    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

}

::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.nav-pills > li {

    float: left;

}

.nav > li, .nav > li > a {

    display: block;
    position: relative;

}

.top-nav-bar .top-nav-separator {
    border-left: 1px solid #e9edf5;
    width: 1px;
    height: 24px;
    margin: 15px 5px;
}


.hint--right::after, .hint--right::before {

    left: 100%;
    bottom: 50%;

}




.hint--right::after {

    margin-bottom: -14px;

}
[class*="hint--"]::after {

    background: #383838;
    color: #fff;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 1;
    white-space: nowrap;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);

}
[class*="hint--"]::after, [class*="hint--"]::before {

    position: absolute;
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    border-radius: 2px;

}
.login-page, [class*="hint--"]::after {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}
.hint--right::before {

    border-right-color: #383838;
    margin-left: -11px;
    margin-bottom: -6px;

}
[class*="hint--"]::before {

    content: '';
    position: absolute;
    background: 0 0;
    border: 6px solid transparent;
    z-index: 1000001;

}

.primary-nav-bar .nav-pills > li > a.active, .primary-nav-bar .nav-pills > li > a.active:focus, .primary-nav-bar .nav-pills > li > a.active:hover, .primary-nav-bar .nav-pills > li > a:active, .primary-nav-bar .stack-bottom > li > a.active, .primary-nav-bar .stack-bottom > li > a.active:focus, .primary-nav-bar .stack-bottom > li > a.active:hover, .primary-nav-bar .stack-bottom > li > a:active {

    color: #fff;
    background-color: #ff5969;

}
.primary-nav-bar .nav-pills > li > a, .primary-nav-bar .stack-bottom > li > a {

    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 10px;
    width: 40px;
    height: 40px;
    padding: 7px;

}
.nav-pills > li > a {

    border-radius: 4px;

}
.nav > li > a {

    padding: 10px 15px;

}
.nav > li, .nav > li > a {

    display: block;
    position: relative;

}
[class*="hint--"] {

    position: relative;
    display: inline-block;

}
a {

    color: #333;
    cursor: pointer;

}
a {

    text-decoration: none;

}
a {

    background-color: transparent;

}
* {

    outline: 0;

}
*, ::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


.icon-dashboard::before {

    content: "\f1cd";

}

.icon-recruit::before {

    content: "\f177";

}

a {

    color: #333;
    cursor: pointer;

}

.icon-conversation::before {

    content: "\f287";

}

.icon-task::before {

    content: "\f16c";

}

.icon-directory::before {

    content: "\f1c9";

}

.icon-reports-nav::before {

    content: "\f2a7";

}

.icon-settings::before {

    content: "\f227";

}

.icon-help-circled::before {

    content: "\f2ba";

}

.icon-comment::before {

    content: "\f253";

}

.icon-search::before {
    content: "\f10e";
}

.icon-add::before {
    content: "\f184";
}

.icon-bell::before {
    content: "\f100";
}

.icon-new-cand::before {
    content: "\f292";
}

.icon-email::before {
    content: "\f134";
}

.icon-waiting-for-decision::before {
    content: "\f295";
}




/* TopNavBar */


.sub-header.sub-header-trail, .sub-header.sub-header-trail .custom-modal {
    top: 0px;
    position: absolute;
}

.sub-header {
    background: #ffffff;
    position: fixed;
    left: 60px;
    right: 0;
    top: 0;

}
.sub-header {
    z-index: 9 !important;
}

.subheader-content {
    margin-top: -4px;
    height: 54px;
    float: left;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dadfe3;
    padding-left: 30px;
    padding-right: 30px;
    width: 120%;
    position: relative;

}

.subheader-left {

    float: left;
    width: auto;
    padding-bottom: 100px;

    padding-right: 20px;

}

header .breadcrumb {

    margin: 0;
    padding: 18px 0;
    float: left;

}
.breadcrumb {

    padding: 5px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;

}
.alert, .breadcrumb {

    margin-bottom: 18px;

}

.job-name, .sub-header .breadcrumb > li:last-child, .sub-header .breadcrumb > li:last-child > a {

    color: #333;

}
.sub-header .breadcrumb-title, .sub-header .breadcrumb > li, .sub-header .breadcrumb > li .breadcrumb-link, .sub-header .breadcrumb > li .dropdown-toggle, .sub-header .breadcrumb > li > a {

    color: #40627c;
    font-size: 14px;
    font-weight: 600;

}
.breadcrumb > li {

    display: inline-block;

}

.page-common-add {
    padding: 15px 8px;
}

.page-common-add .dropdown-toggle.add-new-button {
    padding: 3px 10px;
    border-radius: 13px;
    background-color: #40627c;
    color: #fff;
    font-weight: 600;
}

.app-notifications {
    color: #8b9a9f;
    text-align: center;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
}

.top-nav-bar .navbar-nav > li > .header-profile-icon.disabled-link .avatar-circle, .top-nav-bar .navbar-nav > li > a.header-profile-icon .avatar-circle {
    height: 35px;
    width: 35px;
}
.avatar-circle {
    height: 35px;
    width: 35px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.avatar-circle .initialsAvatar {
    border-radius: 50%;
}

.initialsAvatar {
    color: #fff;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

.avatarColor-21 {
    background-color: #A2C7F6;
    opacity: .9;
}


.content-wrapper {
    left: 60px;
    top: 108px;
    right: 0;
    position: absolute;
    bottom: 0;
    overflow: auto;
        overflow-y: auto;
    overflow-y: scroll;
    background-color: #ecf0f3;
}

.content-wrapper > div:not(.custom-modal-wrapper) {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-width: 940px;
}

.pagearea, .right-content {
    display: table-cell;
    vertical-align: top;
}

.pagearea {
    padding: 0;
    width: 100%;
}

.pagearea-content {
    position: relative;
    padding: 30px 30px 55px;
    min-height: 400px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-md-12 {
    width: 100%;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard .single-block {
    height: 175px;
}

.dashboard-title {
    font-weight: 600;
    color: #7c7c7c !important;
    margin-top: -0px;
    font-size: 16px;
}

.text-center {
    text-align: center;
}


.col-xs-3 {
    width: 25%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.dashboard .white-bg {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 1px 2px 0 #d5d5d5;
    border-radius: 2px;
}
.min-height-130 {
    min-height: 130px;
}

.white-bg {
    background-color: #fff;
}

.dashboard .dashboard-count {
    font-size: 36px;
    font-weight: 300;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
    color: #40627c;
}
.h1, h1 {
    font-size: 33px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: .67em 0;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
}

.count-icon {
    top: -3px;
    font-size: 20px;
    padding-right: 5px;
    color: #ccc !important;
}
.count-icon, .line-nav.dashboard-tab .active {
    position: relative;
}
.text-success {
    color: #31a788;
}

.size-16 {
    font-size: 16px;
}
.input-success, .text-muted {
    color: #7c7c7c;
}

.mt20 {
    margin-top: 20px;
}

.col-xs-12 {
    width: 100%;
}

.mb0 {
    margin-bottom: 0;
}
.pl0 {
    padding-left: 0;
}

.col-xs-4 {
    width: 33.33333%;
}

.dashboard-dropdown {
    color: #069;
    border-bottom: 1px #069 dashed;
    text-transform: lowercase;
    position: relative;
    top: -2px;
}

.col-xs-8 {
    width: 66.66667%;
}

.line-nav.dashboard-tab {
    background-color: transparent;
    border: 0;
}

.line-nav.nav-tabs {
    background-color: transparent;
    padding: 0 15px;
}

.line-nav.dashboard-tab .active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #ff5969;
}

.line-nav.dashboard-tab li {
    padding-top: 0;
}
.line-nav.nav-tabs > li {
    padding: 12px 0 0;
        padding-top: 12px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.line-nav.nav-tabs > li > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff5969;
    -moz-transform: scale3d(0,1,1);
    -ms-transform: scale3d(0,1,1);
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
}

.line-nav.nav-tabs > li.active > a, .line-nav.nav-tabs > li.active > a:active, .line-nav.nav-tabs > li.active > a:focus, .line-nav.nav-tabs > li.active > a:hover, .line-nav.nav-tabs > li > a.active, .line-nav.nav-tabs > li > a:active, .line-nav.nav-tabs > li > a:focus, .line-nav.nav-tabs > li > a:hover {
    color: #ff5969;
}

.line-nav.nav-tabs > li.active > a, .line-nav.nav-tabs > li.active > a:active, .line-nav.nav-tabs > li.active > a:focus, .line-nav.nav-tabs > li.active > a:hover, .line-nav.nav-tabs > li > a.active, .line-nav.nav-tabs > li > a:active, .line-nav.nav-tabs > li > a:focus, .line-nav.nav-tabs > li > a:hover {
    outline: 0;
    border: 0;
    background: 0 0;
}

.line-nav.nav-tabs > li > a {
    border: 0;
    padding: 0 0 10px;
}

.dashboard .interview-block {
    height: 282.5px;
}

.dashboard .blocks-header {
    margin: -20px -20px 0;
    box-shadow: 0 1px 2px 0 #e9e9e9;
    padding: 15px 20px;
    height: 45px;
    color: #7c7c7c;
}

.dashboard .interview-block .blocks-content {
    height: 217.5px;
}
.dashboard .blocks-content {
    overflow: auto;
    margin: 0 -20px;
    padding: 20px;
    height: 130px;
    position: relative;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.no-data-masker-wrapper {
    position: relative;
    background-color: #fff;
}

.no-data-masker-wrapper .empty-msg {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 80px;
}
.no-data-masker-wrapper .empty-msg, .no-data-masker-wrapper .load-more-btn, .no-data-masker-wrapper .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.empty-msg {
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    color: #8c9ca0;
}

.no-data-masker-wrapper {
    position: relative;
    background-color: #fff;
}

.width-30 {
    width: 30%;
}

.no-data-masker.profile-masker {
    margin-left: 10px;
}
.no-data-masker {
    padding: 10px 0;
    background-color: #fff;
}

.no-data-masker.profile-masker .circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.no-data-masker .circle, .no-data-masker .horizontal-bar {
    background-color: #f9f9f9;
}

.no-data-masker.profile-masker .horizontal-bars {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 60px);
    margin-left: 10px;
}

.no-data-masker .horizontal-bars .horizontal-bar {
    height: 8px;
    margin-bottom: 10px;
    width: 90%;
}

.no-data-masker .horizontal-bars .horizontal-bar.sub-content {
    height: 8px;
    width: 60%;
    margin-bottom: 0;
}

.bottom{
    padding-bottom: 122px;
}

.margin{
    margin-right: -100px;
}