.App{

}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Cantarell', 'Helvetica Neue', sans-serif !important;
      position: relative;
      min-height: 100%;
  }

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343F4F;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 12px 8px 12px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
 padding: 120px 200px 60px 160px;
  flex: 2 100%;
}

.aside-1 {
  background: blue;
    height: 100px;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  background-color: #ECF0F3;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom:5px;
    padding-left: 80px;
}
.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 50px 0;
  font-size: 20px;
}

.item1 {
  grid-column: 1/10;
  grid-row: 1/20;
}




.ft-logo {
 height:54px;
 text-align:center;
 color:#6e96b4;
 font-size:28px;
 opacity:.3;
 border-bottom:1px solid #6e96b4;
 -webkit-box-shadow:0 1px 0 #000;
 box-shadow:0 1px 0 #000
}
.ft-logo i {
 padding-bottom:10px
}
.ft-logo i::before {
 line-height:1.92
}


.icon-ft:before {
 content:"\f2a9"
}


.ember-basic-dropdown,.ember-basic-dropdown-content,.ember-basic-dropdown-content *,.ember-power-calendar,.ember-power-calendar-days *,.ember-power-calendar-nav *,.ember-power-select-dropdown * {
 box-sizing:border-box
}


.alert-danger .alert-icon:before,.alert-info .alert-icon:before,.alert-reset-success .alert-icon:before,.alert-success .alert-icon:before,.alert-warning .alert-icon:before,.alert.alert-reset-password .alert-icon:before,.avatar-circle .initialsAvatar.no-name:before,.breadcrumb-title:before,.calendar-icon:before,.datepicker .next:before,.datepicker .prev:before,.dropdown-menu>li a.active:before,.dropdown-menu>li.active a:before,.feedback-hire-selected i:before,.feedback-no-hire-selected i:before,.feedback-strong-hire-selected i:before,.feedback-strong-no-hire-selected i:before,.hire-radio-button .checked .feedback-hire i:before,.hire-radio-button .checked .feedback-no-hire i:before,.hire-radio-button .checked .feedback-strong-hire i:before,.hire-radio-button .checked .feedback-strong-no-hire i:before,.hire-radio-button .feedback-hire i:before,.hire-radio-button .feedback-no-hire i:before,.hire-radio-button .feedback-strong-hire i:before,.hire-radio-button .feedback-strong-no-hire i:before,.hire-radio-button.checked .feedback-hire i:before,.hire-radio-button.checked .feedback-no-hire i:before,.hire-radio-button.checked .feedback-strong-hire i:before,.hire-radio-button.checked .feedback-strong-no-hire i:before,.icon-accordion-close:before,.icon-accordion-open:before,.icon-activation:before,.icon-add-circled:before,.icon-add-emp:before,.icon-add-to-profile:before,.icon-add:before,.icon-alert-danger:before,.icon-angel-circled-solid:before,.icon-angel-circled:before,.icon-angel-circled:hover:before,.icon-arrow-left:before,.icon-arrow-right:before,.icon-at:before,.icon-attachments-vertical:before,.icon-attachments:before,.icon-automation-robot:before,.icon-avatar-loading:before,.icon-back:before,.icon-behance-circled-solid:before,.icon-behance-circled:before,.icon-behance-circled:hover:before,.icon-bell-line:before,.icon-bell:before,.icon-block:before,.icon-book-article:before,.icon-breadcrumb-arrow:before,.icon-bulb:before,.icon-calendar:before,.icon-cand-round:before,.icon-candidates:before,.icon-canned-response:before,.icon-career-portal:before,.icon-certificate:before,.icon-change-job-role:before,.icon-check:before,.icon-checkbox:before,.icon-close-small:before,.icon-close:before,.icon-comment:before,.icon-contact-thin:before,.icon-contact:before,.icon-conversation:before,.icon-cost-center:before,.icon-cover-letter:before,.icon-custom-filter:before,.icon-dashboard:before,.icon-directory:before,.icon-dislike-solid:before,.icon-dislike:before,.icon-dob:before,.icon-down-arrow:before,.icon-download-line:before,.icon-dribbble-circled-solid:before,.icon-dribbble-circled:before,.icon-dribbble-circled:hover:before,.icon-edit:before,.icon-education:before,.icon-eeo:before,.icon-ellipsis-v:before,.icon-ellipsis:before,.icon-email-circled-solid:before,.icon-email-circled:before,.icon-email-circled:hover:before,.icon-email-solid:before,.icon-email-unverified:before,.icon-email:before,.icon-emergency:before,.icon-emp-add:before,.icon-emp-delete:before,.icon-exclamation-circle:before,.icon-experience:before,.icon-export:before,.icon-eye-off:before,.icon-eye:before,.icon-facebook-circled-solid:before,.icon-facebook-circled:before,.icon-facebook-circled:hover:before,.icon-fb-page:before,.icon-feedback-multi_checkbox:before,.icon-feedback-radio:before,.icon-feedback-score:before,.icon-feedback-score_with_comment:before,.icon-feedback-text:before,.icon-focus:before,.icon-form-checkbox:before,.icon-form-datepicker:before,.icon-form-dropdown:before,.icon-form-number:before,.icon-form-phone:before,.icon-form-radio:before,.icon-form-text:before,.icon-form-textarea:before,.icon-form-web:before,.icon-forward:before,.icon-front:before,.icon-ft:before,.icon-funnel:before,.icon-github-circled-solid:before,.icon-github-circled:before,.icon-github-circled:hover:before,.icon-googleplus-circled-solid:before,.icon-googleplus-circled:before,.icon-googleplus-circled:hover:before,.icon-heart-solid:before,.icon-heart.active:before,.icon-heart:before,.icon-help-circled:before,.icon-help:before,.icon-hire-solid:before,.icon-hire:before,.icon-honours:before,.icon-img-upload:before,.icon-import:before,.icon-impoting-cand-error:before,.icon-impoting-cand-success:before,.icon-impoting-cand:before,.icon-info:before,.icon-inprogress:before,.icon-insert-placeholder:before,.icon-instructions:before,.icon-int-kit:before,.icon-int-sch:before,.icon-interests:before,.icon-intranet:before,.icon-jd-template-filled:before,.icon-jd-template:before,.icon-job-close:before,.icon-job-cut:before,.icon-job-draft:before,.icon-job-internal:before,.icon-job-on_hold:before,.icon-job-private:before,.icon-job-published:before,.icon-job-share:before,.icon-key:before,.icon-label:before,.icon-like-solid:before,.icon-like-strong-solid:before,.icon-like:before,.icon-linkedin-circled-solid:before,.icon-linkedin-circled:before,.icon-linkedin-circled:hover:before,.icon-linkedin:before,.icon-list:before,.icon-loading:before,.icon-location:before,.icon-lock-off:before,.icon-lock:before,.icon-logo:before,.icon-mask:before,.icon-medium-circled-solid:before,.icon-medium-circled:before,.icon-medium-circled:hover:before,.icon-menu:before,.icon-minimize:before,.icon-minus-circled:before,.icon-minus-circled:hover:before,.icon-minus-filled:before,.icon-mobile-solid:before,.icon-move-stage:before,.icon-move-to-job:before,.icon-move-to-stage:before,.icon-multi-job:before,.icon-my-job:before,.icon-nav-plus:before,.icon-new-cand:before,.icon-no-hire-solid:before,.icon-no-hire:before,.icon-note:before,.icon-notify-private-comment:before,.icon-offer-declines:before,.icon-offer-made:before,.icon-open-in-portal:before,.icon-parsing:before,.icon-partnership:before,.icon-pending:before,.icon-phone-solid:before,.icon-phone:before,.icon-pinterest-circled-solid:before,.icon-pinterest-circled:before,.icon-pinterest-circled:hover:before,.icon-plus-filled:before,.icon-plus-minus-filled:before,.icon-portal-circled:before,.icon-portfolio:before,.icon-pre-emp:before,.icon-producthunt-circled-solid:before,.icon-producthunt-circled:before,.icon-producthunt-circled:hover:before,.icon-profile-tag:before,.icon-profile:before,.icon-publications:before,.icon-recent-hires:before,.icon-recent-offers:before,.icon-recruit:before,.icon-refer:before,.icon-referral-circled:before,.icon-reject-solid:before,.icon-reject-strong-solid:before,.icon-reject:before,.icon-reorder:before,.icon-reply-all:before,.icon-reply:before,.icon-reports-nav:before,.icon-reports:before,.icon-restore:before,.icon-resume:before,.icon-right-arrow-fill:before,.icon-room:before,.icon-round-crossed:before,.icon-round-fill:before,.icon-round:before,.icon-save-as:before,.icon-save:before,.icon-search:before,.icon-send-activation:before,.icon-settings:before,.icon-share:before,.icon-shell:before,.icon-skills:before,.icon-skype:before,.icon-sort-asc:before,.icon-sort-desc:before,.icon-sourcing-partner:before,.icon-star-o:before,.icon-star-scattered:before,.icon-star:before,.icon-strong-hire-solid:before,.icon-strong-hire:before,.icon-strong-no-hire-solid:before,.icon-strong-no-hire:before,.icon-summary:before,.icon-sync-error:before,.icon-sync:before,.icon-tags-solid:before,.icon-tags:before,.icon-talent-pool-fill:before,.icon-talent-pool:before,.icon-task:before,.icon-team:before,.icon-tick-round-solid:before,.icon-tick-round:before,.icon-time-off:before,.icon-time-solid:before,.icon-time:before,.icon-timeline-dot:before,.icon-tour-sign:before,.icon-trash-strike-thru:before,.icon-trash:before,.icon-tumblr-circled-solid:before,.icon-tumblr-circled:before,.icon-tumblr-circled:hover:before,.icon-twitter-circled-solid:before,.icon-twitter-circled:before,.icon-twitter-circled:hover:before,.icon-uncheck:before,.icon-up-sort:before,.icon-video:before,.icon-volunteer:before,.icon-waiting-for-decision:before,.icon-web-circled:before,.icon-web:before,.icon-wordpress-circled-solid:before,.icon-wordpress-circled:before,.icon-wordpress-circled:hover:before,.icon-work-anniversary:before,.icon-write:before,.input-success:before,.input-success:focus:before,.input-success:hover:before,.lead-source-direct-circled:before,.lead-source-facebook-circled:before,.lead-source-facebook-circled:hover:before,.lead-source-fb_page_tab-circled:before,.lead-source-google_plus-circled:before,.lead-source-google_plus-circled:hover:before,.lead-source-internal-circled:before,.lead-source-linkedin-circled:before,.lead-source-linkedin-circled:hover:before,.lead-source-partnership-circled:before,.lead-source-twitter-circled:before,.lead-source-twitter-circled:hover:before,.new-job .show-templates-btn .icon-jd-template:hover:before,.not-assessed .feedback-icon-checkbox:before,.not-assessed input[type=checkbox]:checked+.feedback-icon-checkbox:before,.open-close-icon:before,.package-form .dropdown-menu>li .remove-icon:hover .icon-minus-circled:before,.rating label.active:before,.rating label:before,.rating:not(.readonly):not(:checked)>label:hover:before,.rating:not(.readonly):not(:checked)>label:hover~label:before,.rating:not(.readonly)>input:checked~label:hover:before,.rating:not(.readonly)>input:checked~label:hover~label:before,.rating:not(.readonly)>label:hover~input:checked~label:before,.rating>input:checked~label:before,.star-rating label:before,.star-rating:not(.disabled)>input:checked~label:hover:before,.star-rating:not(.disabled)>input:checked~label:hover~label:before,.star-rating:not(.disabled)>label:hover~input:checked~label:before,.star-rating:not(:checked):not(.disabled)>label:hover:before,.star-rating:not(:checked):not(.disabled)>label:hover~label:before,.star-rating>input:checked~label:before,.sub-header .breadcrumb>li+li:before,[data-icon]:before {
 display:inline-block;
 font-family:glyphs;
 font-style:normal;
 font-weight:400;
 font-variant:normal;
 line-height:1;
 text-decoration:inherit;
 text-rendering:optimizeLegibility;
 text-transform:none;
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 font-smoothing:antialiased
}

.icon-dashboard:before {
 content:"\f1cd"
}

.hint--right:before {
 border-right-color:#383838;
 margin-left:-11px;
 margin-bottom:-6px
}
.hint--right:after {
 margin-bottom:-14px
}
.hint--right:after,.hint--right:before {
 left:100%;
 bottom:50%
}
.hint--right:hover:after,.hint--right:hover:before {
 -moz-transform:translateX(8px);
 -ms-transform:translateX(8px);
 -webkit-transform:translateX(8px);
 transform:translateX(8px)
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.pre-scrollable {
 max-height:340px
}



.primary-nav-bar .nav-pills>li>a,.primary-nav-bar .stack-bottom>li>a {
 border-radius:5px;
 font-size:20px;
 text-align:center;
 color:#fff;
 margin:10px;
 width:40px;
 height:40px;
 padding:7px
}
.brand-name,.top-nav-bar .navbar-nav>li>.header-profile-icon.disabled-link .initialsAvatar,.top-nav-bar .navbar-nav>li>a.header-profile-icon .initialsAvatar {
 font-size:18px
}
.primary-nav-bar .nav-pills>li>a .nav-settings,.primary-nav-bar .stack-bottom>li>a .nav-settings {
 border-top:1px solid #3e4d5c;
 box-shadow:0 -1px 0 #213141;
 padding-top:20px
}
.primary-nav-bar .nav-pills>li>a:focus,.primary-nav-bar .nav-pills>li>a:hover,.primary-nav-bar .stack-bottom>li>a:focus,.primary-nav-bar .stack-bottom>li>a:hover {
 color:#fff;
 background-color:#223242
}
.primary-nav-bar .nav-pills>li>a.active,.primary-nav-bar .nav-pills>li>a.active:focus,.primary-nav-bar .nav-pills>li>a.active:hover,.primary-nav-bar .nav-pills>li>a:active,.primary-nav-bar .stack-bottom>li>a.active,.primary-nav-bar .stack-bottom>li>a.active:focus,.primary-nav-bar .stack-bottom>li>a.active:hover,.primary-nav-bar .stack-bottom>li>a:active {
 color:#fff;
 background-color:#ff5969
}
.navbar-brand {
 padding:10px 15px 10px 30px;
 height:54px
}
.brand-header-logo {
 max-width:350px;
 max-height:34px
}
.brand-name {
 float:left
}
.primary-nav-bar {
 height:100%;
 position:fixed;
 left:0;
 top:0;
 width:60px;
 border-radius:0;
 border:0
}
.primary-nav-bar .nav-stacked>li+li,.primary-nav-bar .stack-bottom>li+li {
 margin-top:-1px
}
.primary-nav-bar .stack-bottom {
 position:fixed;
 bottom:20px
}
.primary-nav-bar .stack-bottom>li>a {
 margin-top:0
}
.primary-nav-bar .stack-bottom>li:first-child>a {
 margin-top:10px
}
.primary-nav-bar .stack-bottom .ominbar-btn {
 text-align:center
}
.primary-nav-bar .stack-bottom .ominbar-btn .trigger-button-container {
 position:static;
 display:inline-block
}


.navbar-inverse {
 background-color:#343f4f;
 border-color:#202630
}
.navbar-inverse .navbar-brand {
 color:#8e999c
}
.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover {
 color:#fff;
 background-color:transparent
}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text {
 color:#8e999c
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
 color:#fff;
 background-color:#ff5969
}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover {
 color:#444;
 background-color:transparent
}
.navbar-inverse .navbar-toggle {
 border-color:#333
}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
 background-color:#333
}
.navbar-inverse .navbar-toggle .icon-bar {
 background-color:#fff
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
 border-color:#262e39
}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover {
 background-color:#ff5969;
 color:#fff
}




@font-face {
 font-family:glyphs;
 src:url(https://assets.freshteam.com/production/assets/glyphs_17aafef842f3af922203e21db5a1793a-2e16d3082672b6b15f2a6e988bc9b55f.eot);
 src:url(https://assets.freshteam.com/production/assets/glyphs_17aafef842f3af922203e21db5a1793a-2e16d3082672b6b15f2a6e988bc9b55f.eot?#iefix) format("embedded-opentype"),url(https://assets.freshteam.com/production/assets/glyphs_17aafef842f3af922203e21db5a1793a-bc2065546d07af83b53ca06e7cb3dd35.woff2) format("woff2"),url(https://assets.freshteam.com/production/assets/glyphs_17aafef842f3af922203e21db5a1793a-b2110776b59c99da2eb12ce1b10d546a.woff) format("woff"),url(https://assets.freshteam.com/production/assets/glyphs_17aafef842f3af922203e21db5a1793a-5e3646ff91c50ceda640daf86874275f.ttf) format("truetype"),url(https://assets.freshteam.com/production/assets/glyphs_17aafef842f3af922203e21db5a1793a-6f8f7fd9a1a3df386fa3ef5f9ebe329c.svg#glyphs) format("svg");
 font-weight:400;
 font-style:normal
}
[data-icon]:before {
 content:attr(data-icon)
}
.alert-danger .alert-icon:before,.alert-info .alert-icon:before,.alert-reset-success .alert-icon:before,.alert-success .alert-icon:before,.alert-warning .alert-icon:before,.alert.alert-reset-password .alert-icon:before,.avatar-circle .initialsAvatar.no-name:before,.breadcrumb-title:before,.calendar-icon:before,.datepicker .next:before,.datepicker .prev:before,.dropdown-menu>li a.active:before,.dropdown-menu>li.active a:before,.feedback-hire-selected i:before,.feedback-no-hire-selected i:before,.feedback-strong-hire-selected i:before,.feedback-strong-no-hire-selected i:before,.hire-radio-button .checked .feedback-hire i:before,.hire-radio-button .checked .feedback-no-hire i:before,.hire-radio-button .checked .feedback-strong-hire i:before,.hire-radio-button .checked .feedback-strong-no-hire i:before,.hire-radio-button .feedback-hire i:before,.hire-radio-button .feedback-no-hire i:before,.hire-radio-button .feedback-strong-hire i:before,.hire-radio-button .feedback-strong-no-hire i:before,.hire-radio-button.checked .feedback-hire i:before,.hire-radio-button.checked .feedback-no-hire i:before,.hire-radio-button.checked .feedback-strong-hire i:before,.hire-radio-button.checked .feedback-strong-no-hire i:before,.icon-accordion-close:before,.icon-accordion-open:before,.icon-activation:before,.icon-add-circled:before,.icon-add-emp:before,.icon-add-to-profile:before,.icon-add:before,.icon-alert-danger:before,.icon-angel-circled-solid:before,.icon-angel-circled:before,.icon-angel-circled:hover:before,.icon-arrow-left:before,.icon-arrow-right:before,.icon-at:before,.icon-attachments-vertical:before,.icon-attachments:before,.icon-automation-robot:before,.icon-avatar-loading:before,.icon-back:before,.icon-behance-circled-solid:before,.icon-behance-circled:before,.icon-behance-circled:hover:before,.icon-bell-line:before,.icon-bell:before,.icon-block:before,.icon-book-article:before,.icon-breadcrumb-arrow:before,.icon-bulb:before,.icon-calendar:before,.icon-cand-round:before,.icon-candidates:before,.icon-canned-response:before,.icon-career-portal:before,.icon-certificate:before,.icon-change-job-role:before,.icon-check:before,.icon-checkbox:before,.icon-close-small:before,.icon-close:before,.icon-comment:before,.icon-contact-thin:before,.icon-contact:before,.icon-conversation:before,.icon-cost-center:before,.icon-cover-letter:before,.icon-custom-filter:before,.icon-dashboard:before,.icon-directory:before,.icon-dislike-solid:before,.icon-dislike:before,.icon-dob:before,.icon-down-arrow:before,.icon-download-line:before,.icon-dribbble-circled-solid:before,.icon-dribbble-circled:before,.icon-dribbble-circled:hover:before,.icon-edit:before,.icon-education:before,.icon-eeo:before,.icon-ellipsis-v:before,.icon-ellipsis:before,.icon-email-circled-solid:before,.icon-email-circled:before,.icon-email-circled:hover:before,.icon-email-solid:before,.icon-email-unverified:before,.icon-email:before,.icon-emergency:before,.icon-emp-add:before,.icon-emp-delete:before,.icon-exclamation-circle:before,.icon-experience:before,.icon-export:before,.icon-eye-off:before,.icon-eye:before,.icon-facebook-circled-solid:before,.icon-facebook-circled:before,.icon-facebook-circled:hover:before,.icon-fb-page:before,.icon-feedback-multi_checkbox:before,.icon-feedback-radio:before,.icon-feedback-score:before,.icon-feedback-score_with_comment:before,.icon-feedback-text:before,.icon-focus:before,.icon-form-checkbox:before,.icon-form-datepicker:before,.icon-form-dropdown:before,.icon-form-number:before,.icon-form-phone:before,.icon-form-radio:before,.icon-form-text:before,.icon-form-textarea:before,.icon-form-web:before,.icon-forward:before,.icon-front:before,.icon-ft:before,.icon-funnel:before,.icon-github-circled-solid:before,.icon-github-circled:before,.icon-github-circled:hover:before,.icon-googleplus-circled-solid:before,.icon-googleplus-circled:before,.icon-googleplus-circled:hover:before,.icon-heart-solid:before,.icon-heart.active:before,.icon-heart:before,.icon-help-circled:before,.icon-help:before,.icon-hire-solid:before,.icon-hire:before,.icon-honours:before,.icon-img-upload:before,.icon-import:before,.icon-impoting-cand-error:before,.icon-impoting-cand-success:before,.icon-impoting-cand:before,.icon-info:before,.icon-inprogress:before,.icon-insert-placeholder:before,.icon-instructions:before,.icon-int-kit:before,.icon-int-sch:before,.icon-interests:before,.icon-intranet:before,.icon-jd-template-filled:before,.icon-jd-template:before,.icon-job-close:before,.icon-job-cut:before,.icon-job-draft:before,.icon-job-internal:before,.icon-job-on_hold:before,.icon-job-private:before,.icon-job-published:before,.icon-job-share:before,.icon-key:before,.icon-label:before,.icon-like-solid:before,.icon-like-strong-solid:before,.icon-like:before,.icon-linkedin-circled-solid:before,.icon-linkedin-circled:before,.icon-linkedin-circled:hover:before,.icon-linkedin:before,.icon-list:before,.icon-loading:before,.icon-location:before,.icon-lock-off:before,.icon-lock:before,.icon-logo:before,.icon-mask:before,.icon-medium-circled-solid:before,.icon-medium-circled:before,.icon-medium-circled:hover:before,.icon-menu:before,.icon-minimize:before,.icon-minus-circled:before,.icon-minus-circled:hover:before,.icon-minus-filled:before,.icon-mobile-solid:before,.icon-move-stage:before,.icon-move-to-job:before,.icon-move-to-stage:before,.icon-multi-job:before,.icon-my-job:before,.icon-nav-plus:before,.icon-new-cand:before,.icon-no-hire-solid:before,.icon-no-hire:before,.icon-note:before,.icon-notify-private-comment:before,.icon-offer-declines:before,.icon-offer-made:before,.icon-open-in-portal:before,.icon-parsing:before,.icon-partnership:before,.icon-pending:before,.icon-phone-solid:before,.icon-phone:before,.icon-pinterest-circled-solid:before,.icon-pinterest-circled:before,.icon-pinterest-circled:hover:before,.icon-plus-filled:before,.icon-plus-minus-filled:before,.icon-portal-circled:before,.icon-portfolio:before,.icon-pre-emp:before,.icon-producthunt-circled-solid:before,.icon-producthunt-circled:before,.icon-producthunt-circled:hover:before,.icon-profile-tag:before,.icon-profile:before,.icon-publications:before,.icon-recent-hires:before,.icon-recent-offers:before,.icon-recruit:before,.icon-refer:before,.icon-referral-circled:before,.icon-reject-solid:before,.icon-reject-strong-solid:before,.icon-reject:before,.icon-reorder:before,.icon-reply-all:before,.icon-reply:before,.icon-reports-nav:before,.icon-reports:before,.icon-restore:before,.icon-resume:before,.icon-right-arrow-fill:before,.icon-room:before,.icon-round-crossed:before,.icon-round-fill:before,.icon-round:before,.icon-save-as:before,.icon-save:before,.icon-search:before,.icon-send-activation:before,.icon-settings:before,.icon-share:before,.icon-shell:before,.icon-skills:before,.icon-skype:before,.icon-sort-asc:before,.icon-sort-desc:before,.icon-sourcing-partner:before,.icon-star-o:before,.icon-star-scattered:before,.icon-star:before,.icon-strong-hire-solid:before,.icon-strong-hire:before,.icon-strong-no-hire-solid:before,.icon-strong-no-hire:before,.icon-summary:before,.icon-sync-error:before,.icon-sync:before,.icon-tags-solid:before,.icon-tags:before,.icon-talent-pool-fill:before,.icon-talent-pool:before,.icon-task:before,.icon-team:before,.icon-tick-round-solid:before,.icon-tick-round:before,.icon-time-off:before,.icon-time-solid:before,.icon-time:before,.icon-timeline-dot:before,.icon-tour-sign:before,.icon-trash-strike-thru:before,.icon-trash:before,.icon-tumblr-circled-solid:before,.icon-tumblr-circled:before,.icon-tumblr-circled:hover:before,.icon-twitter-circled-solid:before,.icon-twitter-circled:before,.icon-twitter-circled:hover:before,.icon-uncheck:before,.icon-up-sort:before,.icon-video:before,.icon-volunteer:before,.icon-waiting-for-decision:before,.icon-web-circled:before,.icon-web:before,.icon-wordpress-circled-solid:before,.icon-wordpress-circled:before,.icon-wordpress-circled:hover:before,.icon-work-anniversary:before,.icon-write:before,.input-success:before,.input-success:focus:before,.input-success:hover:before,.lead-source-direct-circled:before,.lead-source-facebook-circled:before,.lead-source-facebook-circled:hover:before,.lead-source-fb_page_tab-circled:before,.lead-source-google_plus-circled:before,.lead-source-google_plus-circled:hover:before,.lead-source-internal-circled:before,.lead-source-linkedin-circled:before,.lead-source-linkedin-circled:hover:before,.lead-source-partnership-circled:before,.lead-source-twitter-circled:before,.lead-source-twitter-circled:hover:before,.new-job .show-templates-btn .icon-jd-template:hover:before,.not-assessed .feedback-icon-checkbox:before,.not-assessed input[type=checkbox]:checked+.feedback-icon-checkbox:before,.open-close-icon:before,.package-form .dropdown-menu>li .remove-icon:hover .icon-minus-circled:before,.rating label.active:before,.rating label:before,.rating:not(.readonly):not(:checked)>label:hover:before,.rating:not(.readonly):not(:checked)>label:hover~label:before,.rating:not(.readonly)>input:checked~label:hover:before,.rating:not(.readonly)>input:checked~label:hover~label:before,.rating:not(.readonly)>label:hover~input:checked~label:before,.rating>input:checked~label:before,.star-rating label:before,.star-rating:not(.disabled)>input:checked~label:hover:before,.star-rating:not(.disabled)>input:checked~label:hover~label:before,.star-rating:not(.disabled)>label:hover~input:checked~label:before,.star-rating:not(:checked):not(.disabled)>label:hover:before,.star-rating:not(:checked):not(.disabled)>label:hover~label:before,.star-rating>input:checked~label:before,.sub-header .breadcrumb>li+li:before,[data-icon]:before {
 display:inline-block;
 font-family:glyphs;
 font-style:normal;
 font-weight:400;
 font-variant:normal;
 line-height:1;
 text-decoration:inherit;
 text-rendering:optimizeLegibility;
 text-transform:none;
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 font-smoothing:antialiased
}
.icon-accordion-close:before {
 content:"\f114"
}
.icon-accordion-open:before,.open-close-icon:before {
 content:"\f115"
}
.icon-activation:before {
 content:"\f256"
}
.icon-add:before {
 content:"\f184"
}
.icon-add-circled:before {
 content:"\f20c"
}
.icon-add-emp:before {
 content:"\f270"
}
.icon-add-to-profile:before {
 content:"\f2b7"
}
.alert-danger .alert-icon:before,.alert-info .alert-icon:before,.alert-warning .alert-icon:before,.icon-alert-danger:before {
 content:"\f272"
}
.icon-angel-circled:before {
 content:"\f2ad"
}
.icon-angel-circled-solid:before,.icon-angel-circled:hover:before {
 content:"\f2ae"
}
.datepicker .prev:before,.icon-arrow-left:before {
 content:"\f11d"
}
.datepicker .next:before,.icon-arrow-right:before {
 content:"\f11e"
}
.icon-at:before {
 content:"\f210"
}
.icon-attachments:before {
 content:"\f1dc"
}
.icon-attachments-vertical:before {
 content:"\f26e"
}
.icon-automation-robot:before {
 content:"\f2c8"
}
.avatar-circle .initialsAvatar.no-name:before,.icon-avatar-loading:before {
 content:"\f291"
}
.icon-back:before {
 content:"\f203"
}
.icon-behance-circled:before {
 content:"\f235"
}
.icon-behance-circled-solid:before,.icon-behance-circled:hover:before {
 content:"\f233"
}
.icon-bell:before {
 content:"\f100"
}
.icon-bell-line:before {
 content:"\f267"
}
.icon-block:before {
 content:"\f266"
}
.icon-book-article:before {
 content:"\f28c"
}
.breadcrumb-title:before,.icon-breadcrumb-arrow:before,.sub-header .breadcrumb>li+li:before {
 content:"\f1c0"
}
.icon-bulb:before {
 content:"\f2aa"
}
.calendar-icon:before,.icon-calendar:before {
 content:"\f22e"
}
.icon-cand-round:before {
 content:"\f276"
}
.icon-candidates:before {
 content:"\f26c"
}
.icon-canned-response:before {
 content:"\f1bd"
}
.icon-career-portal:before {
 content:"\f29d"
}



.sub-header.sub-header-trail, .sub-header.sub-header-trail .custom-modal {
    top: 26px;
}


.line-nav.subheader-nav {
 font-weight:600;
 border:0;
 padding:0;
 background-color:transparent;
 margin:-18px 0
}
.line-nav.subheader-nav>li {
 padding:0
}
.line-nav.subheader-nav>li>a {
 padding:18px 0
}


.subheader-left {
 float:left;
 width:75%;
 padding-right:20px
}
.subheader-right {
 position:absolute;
 top:0;
 right:30px;
 text-align:right
}

.subheader-content {
 height:54px;
 float:left;
 background-color:#f8f9fa;
 border-bottom:1px solid #dadfe3;
 padding-left:30px;
 padding-right:30px;
 width:100%;
 position:relative
}

.sub-header {
 z-index:9
}
.sub-header.sub-header-trail,.sub-header.sub-header-trail .custom-modal {
 top:26px
}



.login-page .logo-wrapper,.login-page .logo-wrapper .logo-public {
 max-height:45px;
 max-width:350px;
 display:inline-block
}


.login-page .logo-wrapper {
 vertical-align:middle;
 overflow:hidden
}

.btn-stage-changes .common-search-button .dropdown-toggle,.common-search-button .btn,.common-search-button .btn-stage-changes .dropdown-toggle,.common-search-button .feedback-btn {
 position:absolute;
 right:0;
 top:12px
}
.btn-stage-changes .common-search-button .dropdown-toggle:hover,.common-search-button .btn-stage-changes .dropdown-toggle:hover,.common-search-button .btn:hover,.common-search-button .feedback-btn:hover {
 color:#7c7c7c;
 background:#ecf0f3;
 border-radius:50%
}

.btn-add,.btn-link {
 color:#069;
 font-weight:400;
 border-radius:0
}
.active.btn-add,.btn-add,.btn-add:active,.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],[disabled].btn-add,fieldset[disabled] .btn-add,fieldset[disabled] .btn-link {
 background-color:transparent;
 -webkit-box-shadow:none;
 box-shadow:none
}
.btn-add,.btn-add:active,.btn-add:focus,.btn-add:hover,.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
 border-color:transparent
}
.btn-add:focus,.btn-add:hover,.btn-link:focus,.btn-link:hover {
 color:#0099e6;
 text-decoration:none;
 background-color:transparent
}
.btn-link[disabled]:focus,.btn-link[disabled]:hover,[disabled].btn-add:focus,[disabled].btn-add:hover,fieldset[disabled] .btn-add:focus,fieldset[disabled] .btn-add:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover {
 color:#aab6c7;
 text-decoration:none
}


hr,img {
 border:0
}